body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 100px 200px;
}

.card {
  perspective: 1000px;
  display: inline-block;
}

.post {
  transition: all 1s ease;
  transform-style: preserve-3d;
  display: inline-block;
}

.post:hover {
  transform: rotateY(180deg);
}

.front, .back {
  background-color: inherit;
  backface-visibility: hidden;
}

.edit-delete-show {
  border-style: none;
  background-color: #fff;
  padding: 10px;
  border: 1px solid black;
  border-radius: 9px;
  &:hover {
    background-color: black;
    transition-duration: 0.4s;
  }
}

.post {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .8);
  display: inline-block;
  padding: 20px;
  margin: 10px;
  &:hover {
    background-color: rgba(150, 150, 150, .9)
  }
}

#newpostbutton {
  border-style: none;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 3px;
  &:hover {
    background-color: black;
    transition-duration: 0.4s;
  }
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;

  &:visited {
    color: #666;
  }

  &:hover {
    color: rgb(170, 170, 170);
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#poststitle {
  font-size: 42px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
